.anon-image {
  background-repeat: no-repeat;
  background-size: cover;
  width: 80px;
  height: 70px;
  border-radius: 5px;
}

.anon0 {
  background-image: url('../images/anon_koala.png');
}

.anon1 {
  background-image: url('../images/anon_dolphin.png');
}

.anon2 {
  background-image: url('../images/anon_bird.png');
}

.anon3 {
  background-image: url('../images/anon_elephant.png');
}

.anon4 {
  background-image: url('../images/anon_flamingo.png');
}

.anon5 {
  background-image: url('../images/anon_fox.png');
}

.anon6 {
  background-image: url('../images/anon_giraffe.png');
}

.anon7 {
  background-image: url('../images/anon_hippo.png');
}

.anon8 {
  background-image: url('../images/anon_monkey.png');
}

.anon9 {
  background-image: url('../images/anon_pig.png');
}

.fups-anonymous-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}

.fups_anon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding-right: 10%;
  margin-top: 20px;
}

.fups-item-master {
  display: flex;
  margin: 10px 0px;
  width: 500px;
}

.trending {
  width: 350px;
  position: sticky;
  top: 15vh;
  height: 80vh;
  background-color: #f7f7f7;
  margin: 50px;
  border-radius: 5px;
}

.trending_list_items {
  margin: 10px;
  text-decoration: none;
  list-style: none;
  margin-left: 40px;
}

.trending h1 {
  margin: 20px;
  font-weight: bolder;
  font-size: 18px;
}

.trending_list_items a {
  text-decoration: none;
}

.anon-image-container {
  margin-right: 10px;
}

.fups-item-main {
  position: relative;
  overflow-wrap: break-word;
  width: 400px;
  margin-top: 10px;
}

.fups-anon-header {
  font-size: 32px;
  margin: 20px 0px;
  font-weight: bolder;
  color: rgba(189, 94, 27, 0.589);
  text-shadow: 3px 3px 5px black;
}

.upvote-arrow-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: flex-end;
}

.upvote-arrow {
  color: #505050;
  position: absolute;
  bottom: 0px;
  right: 12px;
  width: 2px;
  height: 16px;
  transition: all .2s ease-in-out;
}

.upvote-arrow:before {
  content: '';
  position: absolute;
  left: -5px;
  top: 1px;
  width: 10px;
  height: 10px;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.upvote-arrow:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.upvote-arrow-liked {
  color: #505050;
  position: absolute;
  bottom: 0px;
  right: 12px;
  width: 2px;
  height: 16px;
  transition: all .2s ease-in-out;
}

.upvote-arrow-liked:before {
  content: '';
  position: absolute;
  left: -5px;
  top: 1px;
  width: 10px;
  height: 10px;
  border-top: solid 2px #E98A48;
  border-right: solid 2px #E98A48;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.upvote-arrow-liked:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.likes-count {
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  right: 30px;
}

#disabled {
  pointer-events: none;
  opacity: 0.4;
}

.lds-ellipsis {
  position: relative;
  left: 50%;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
