.user-fups-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 550px;
}

.fups-item-container {
  width: 100%;
  padding: 20px;
  margin-top: 30px;
  background-color: #F6F7F6;
  border-radius: 5px;
  min-height: 80px;
  box-sizing: border-box;
  word-wrap: break-word;
}

.fup-text {
  overflow-wrap: break-word;
}