.navbar-container {
  position: sticky;
  width: 100%;
  height: auto;
  left: 0px;
  top: 0px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.loggedIn {
  background: #F7F7F7;
}

.loggedOut {

}