.profile_page {
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.upper_page {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 50px;
}

.suggestion {
  padding: 6px;
}

.life_suggestions {
  margin-top: 8px;
  line-height: 24px;
}

.suggestion a {
  text-decoration: none;
}

.user_data_container {
  padding: 20px;
  background-color: #F7F7F7;
  width: 70%;
  height: 370px;
  border-radius: 4px;
  margin-left: 25vw;
}

.suggestion_box {
  margin-top: 46px;
  padding: 20px;
  background-color: #F7F7F7;
  width: 20%;
  height: auto;
  margin-left: 3vw;
  position: fixed;
  align-self: flex-start;
  top: 65px;
  border-radius: 4px;
}

.suggestion_height {
  line-height: 22px;
}

.graphs_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.bar_graph {
  width: 500px;
  height: 100%;
}

.pie_chart {
  height: 100%;
  width: 300px;
}

.graph_item {
  height: 240px;
  width: 500px;
  margin-top: 40px;
  padding-right: 50px;

}

.pie_item {
  height: 230px;
  margin-right: 20px;
  color: white;
}

.bar_graph_explanation p {
  margin-left: 20px;
  font-size: 12px;
  line-height: 15px;
  color: #757575;
  margin-bottom: 10px;
}

.lds-ellipsisp {
  position: relative;
  left: 0%;
  width: 64px;
  height: 64px;
}
.lds-ellipsisp div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsisp div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsisp1 0.6s infinite;
}
.lds-ellipsisp div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsisp2 0.6s infinite;
}
.lds-ellipsisp div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsisp2 0.6s infinite;
}
.lds-ellipsisp div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsisp3 0.6s infinite;
}
@keyframes lds-ellipsisp1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsisp3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsisp2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.ScrollUpButton__Container {
  background-color: transparent !important;
}

.ScrollUpButton__Toggled {
  background-color: transparent;
}

